#banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: whitesmoke;
    text-align: center;
    vertical-align: center;
    height: 2rem;
    transition: margin-top 0.25s ease-out;
    margin-top: -2rem;
    z-index: 100;
    border-bottom: 1px solid black;
}

#content {
    margin: auto;
    max-width: 600px;
    width: 100%;
}